<nav class="py-6 px-2 w-screen bg-green-500 text-white">
    <div class="container mx-auto flex items-center justify-between">
        <a href="" class="text-2xl font-bold">Django-CRM</a>
        <ul class="flex gap-4">
            <li>
                {% if request.user.is_authenticated %}
                <a href="{%url 'logout_view'%}" class="text-red-500">Logout</a>
                {% else %}
                <a href="{%url 'login_formview'%}" class="">Login</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>