<nav class="py-6 px-2 w-screen bg-green-500 text-white">
    <div class="container mx-auto flex items-center justify-between">
        <a href="" class="text-2xl font-bold">Django-CRM</a>
        <ul class="flex gap-4">
            {% if request.user.is_authenticated %}
            <li>
                <a href="{%url 'post_formview'%}" class="">Add Post</a>
            </li>
            <li>
                <a href="{%url 'logout_view'%}" class="text-red-500">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="{%url 'login_formview'%}" class="">Login</a>
            </li>
                {% endif %}
        </ul>
    </div>
</nav>